<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newburger="{{devour}}">
		{{#if devoured}}YUM!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>
